<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="スキル ネットワーク ロゴ">
    </a>
</p>

<h1 align=center><font size = 5>割り当て: ピア割り当て用の SQL ノートブック</font></h1>

推定所要時間: **60**分。

＃＃ 導入
この Python ノートブックを使用して、次のことを行います。

1. Spacex データセットを理解する
2. データセットを Db2 データベースの対応するテーブルにロードします。
3. SQL クエリを実行して割り当ての質問に答える

## DataSet の概要

SpaceX は一連の歴史的なマイルストーンで世界的な注目を集めています。 

同社は、地球低軌道から宇宙船を帰還させた唯一の民間企業であり、2010 年 12 月に初めてそれを達成した。
SpaceXは自社ウェブサイトでFalcon 9ロケットの打ち上げ費用が6,200万ドルであると宣伝しているが、他のプロバイダーは1回あたり1億6,500万ドル以上の費用がかかるが、その節約の多くはSpace Xが第1段を再利用できるためである。
したがって、第 1 段が着陸するかどうかを判断できれば、打ち上げのコストを決定できます。 

この情報は、代替企業が SpaceX に対してロケット打ち上げに入札したい場合に使用できます。

このデータセットには、SpaceX の宇宙へのミッション中に運ばれた各ペイロードの記録が含まれています。

### データセットをダウンロードする

この割り当てでは、spacex データセットをロードする必要があります。

多くの場合、分析対象のデータセットは、インターネット上で .CSV (カンマ区切り値) ファイルとして入手できます。以下のリンクをクリックして、データセット (.CSV ファイル) をダウンロードして保存します。

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank" >Spacex データセット</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:

!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.12.0 sqlparse-0.5.3

In [ ]:
%load_ext sql

In [3]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [5]:
%sql sqlite:///my_data1.db

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**注: 以下のコードは、テーブルから空白行を削除するために追加されています**

In [6]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [ ]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## タスク

次に、SQL クエリを作成して実行して、割り当てタスクを解決します。

**注: 列名に大文字と小文字が混在している場合は、二重引用符で囲みます。
   例:「Landing_Outcome」**

### タスク 1




##### 宇宙ミッションにおける固有の発射場の名前を表示します

In [13]:
%%sql

select DISTINCT Launch_Site from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [40]:
%%sql

select DISTINCT Mission_Outcome from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('Success',),
 ('Failure (in flight)',),
 ('Success (payload status unclear)',),
 ('Success ',)]

### タスク 2


##### 発射地点が文字列「CCA」で始まるレコードを 5 件表示します

In [17]:
%%sql
select *
from SPACEXTBL 
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### タスク 3




##### NASA (CRS) によって打ち上げられたブースターによって運ばれる総ペイロード質量を表示します

In [26]:
%%sql

SELECT SUM(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE Customer LIKE 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### タスク 4




##### ブースター バージョン F9 v1.1 によって運ばれる平均ペイロード質量を表示します

In [27]:
%%sql

SELECT AVG(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE Booster_Version LIKE 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### タスク 5
##### 地上パッドへの最初の着陸成功が達成された日付をリストします。
ヒント: min 関数を使用する

In [31]:
%%sql

SELECT min(Date)
FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('2010-06-04',)]

### タスク 6

##### ドローン船で成功し、ペイロード質量が 4000 を超え 6000 未満のブースターの名前を列挙してください

In [35]:
%%sql

select Payload
from SPACEXTBL
where Mission_Outcome = 'Success'
and PAYLOAD_MASS__KG_ > 4000
and PAYLOAD_MASS__KG_ > 6000

 * sqlite:///my_data1.db
Done.

[('Iridium NEXT 1',),
 ('Inmarsat-5 F4',),
 ('Iridium NEXT 2',),
 ('Intelsat 35e',),
 ('Iridium NEXT 3',),
 ('Iridium NEXT 4',),
 ('Hispasat 30W-6  PODSat',),
 ('Iridium NEXT 5',),
 ('Iridium NEXT 6   GRACE-FO 1, 2',),
 ('Telstar 19V',),
 ('Iridium NEXT-7',),
 ('Telstar 18V / Apstar-5C',),
 ('Iridium NEXT-8',),
 ('Crew Dragon Demo-1, SpaceX CRS-17 ',),
 ('Starlink v0.9, RADARSAT Constellation',),
 ('AMOS-17, Starlink 1 v1.0 ',),
 ('Starlink 1 v1.0, SpaceX CRS-19 ',),
 ('JCSat-18 / Kacific 1, Starlink 2 v1.0 ',),
 ('Starlink 2 v1.0, Crew Dragon in-flight abort test ',),
 ('Crew Dragon in-flight abort test, Starlink 3 v1.0 ',),
 ('Starlink 3 v1.0, Starlink 4 v1.0 ',),
 ('Starlink 4 v1.0, SpaceX CRS-20',),
 ('Starlink 5 v1.0, Starlink 6 v1.0 ',),
 ('Starlink 6 v1.0, Crew Dragon Demo-2 ',),
 ('Crew Dragon Demo-2, Starlink 7 v1.0 ',),
 ('Starlink 7 v1.0, Starlink 8 v1.0',),
 ('Starlink 8 v1.0, SkySats-16, -17, -18, GPS III-03 ',),
 ('Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0 ',),
 ('Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B ',),
 ('Starlink 11 v1.0, Starlink 12 v1.0 ',),
 ('Starlink 12 v1.0, Starlink 13 v1.0 ',),
 ('Starlink 13 v1.0, Starlink 14 v1.0 ',),
 ('Starlink 14 v1.0, GPS III-04  ',),
 ('Crew-1, Sentinel-6 Michael Freilich ',),
 ('Starlink 15 v1.0, SpaceX CRS-21',)]

### タスク 7




##### 成功したミッション結果と失敗したミッション結果の合計数をリストします。

In [51]:
%%sql

select count(Mission_Outcome)
from SPACEXTBL
where Mission_Outcome like 'Success%'

 * sqlite:///my_data1.db
Done.

[(100,)]

In [52]:
%%sql

select count(Mission_Outcome)
from SPACEXTBL
where Mission_Outcome like 'Failure%'

 * sqlite:///my_data1.db
Done.

[(1,)]

In [50]:
%%sql

select DISTINCT Mission_Outcome from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('Success',),
 ('Failure (in flight)',),
 ('Success (payload status unclear)',),
 ('Success ',)]

### タスク 8



##### 最大ペイロード質量を搭載した booster_version の名前をリストします。サブクエリを使用する

In [55]:
%%sql

SELECT booster_version
FROM SPACEXTBL
WHERE  PAYLOAD_MASS__KG_ =(
  SELECT MAX(PAYLOAD_MASS__KG_)
  FROM SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### タスク 9


##### 2015 年の月の月名、ドローン船の着陸失敗結果、ブースターのバージョン、打ち上げ場所を表示するレコードをリストします。

**注意: SQLLite は月名をサポートしません。したがって、substr(Date, 6,2) を月として使用して月を取得し、substr(Date,0,5)='2015' を年として使用する必要があります。**

In [67]:
%%sql 

SELECT 
  substr(Date, 6, 2) AS month,
  Booster_Version,
  Launch_Site
FROM SPACEXTBL
where substr(Date, 0, 5) = '2015'

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('02', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('03', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('04', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('06', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('12', 'F9 FT B1019', 'CCAFS LC-40')]

### タスク 10




##### 2010 年 6 月 4 日から 2017 年 3 月 20 日までの着陸結果 (失敗 (ドローン船) や成功 (地上パッド) など) の数を降順にランク付けします。

In [70]:
%%sql

SELECT 
  Mission_Outcome,
  COUNT(*) AS mission_outcome
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY mission_outcome
ORDER BY mission_outcome DESC;

 * sqlite:///my_data1.db
Done.

[('Success', 30), ('Failure (in flight)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>